<!DOCTYPE html>
<html th:fragment="layout (title,contents)"  lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:replace="${title}">Title</title>
</head>
<body>
<!--   모바일 반응형...-->
<h1>레이아웃 H1</h1>
<div th:replace="${contents}"></div>

</body>
<footer>
    푸터입니다.~~~~~
</footer>
</html>